// body {
//   font-family: 'Open Sans Condensed';
//   padding: 20px 60px;
// }

// a {
//   text-decoration: none;
//   color: black;
// }

// * {
//   box-sizing: border-box;
// }

@import './styles/variables';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $light-grayish-pink;
  font-size: 6vw;
  // width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'head'
    'main'
    'foot';
  row-gap: 15px;
  margin: 0 20px;
  // justify-content: center;

  @media (min-width: $breakpoint) {
    font-size: 2vw;
    margin: 0 80px;
  }
}
