@import '../../styles/variables';

#usrform {
  grid-area: form;
  background-color: $light-blue;
  color: snow;
  border: 3px solid black;
  padding: 20px 0;
  border-radius: 8px;
  font-size: 1.2em;
  @media (min-width: $breakpoint) {
    margin-left: 30px;
  }

  #note {
    color: rgb(182, 0, 0);
    padding: 10px 20px;
  }

  form {
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      '. location .'
      '. date .'
      '. submit .';
    border-radius: 3px;
    column-gap: 15px;

    #ImageUpload {
      @include input-box;
    }

    #travel-location {
      grid-area: location;

      #location {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
          'input-label'
          'region-input'
          'country-input'
          'city-input';
        align-items: center;

        label {
          grid-area: input-label;
        }

        #region {
          grid-area: region-input;
          justify-self: center;
          @include input-box;
          &:invalid {
            @include invalid-box;
          }
          &:hover {
            border: 3px solid blue;
          }
        }
        #country {
          grid-area: country-input;
          justify-self: center;
          @include input-box;
          &:invalid {
            @include invalid-box;
          }
          &:hover {
            border: 3px solid blue;
          }
        }
        #city {
          grid-area: city-input;
          justify-self: center;
          @include input-box;
          &:invalid {
            @include invalid-box;
          }
          &:hover {
            border: 3px solid blue;
          }
        }
      }
    }

    #travel-date {
      grid-area: date;
      display: grid;
      flex-direction: column;
      grid-template-rows: auto auto;
      grid-template-areas:
        'date-label'
        'date-input';

      label {
        grid-area: date-label;
      }

      #date {
        grid-area: date-input;
        justify-self: center;
        @include input-box;
        &:invalid {
          @include invalid-box;
        }
        &:hover {
          border: 3px solid blue;
        }
      }
    }

    button {
      @include input-box;
      grid-area: submit;
      justify-self: center;
      background-color: snow;
      color: blue;
      font-weight: bold;

      &:hover {
        box-shadow: 5px 5px #888888;
      }

      &:disabled {
        background-color: $button-unable;
        box-shadow: none;
        color: snow;
      }
    }
  }
}
