@import "variables";

#card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "photo"
    "info";
  grid-gap: 10px;
  margin-top: 20px;
  background-color: $light-blue;
  padding: 15px 15px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 2px #888888c0;

  @media (min-width: $breakpoint) {
    border-top: none;
  }
  #photo {
    grid-area: photo;
    img {
      display: block;
      margin-top: auto;
      height: auto;
      width: 100%;
      border-radius: 5px;
    }
  }

  #info {
    grid-area: info;
    background-color: snow;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;

    #country-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 1fr 1fr;
      grid-template-areas:
        "subject subject"
        "country-name flag"
        "capital flag"
        "currency languages";
      row-gap: 10px;
      column-gap: 5px;
      @media (min-width: $breakpoint) {
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "subject flag"
          "country-name flag"
          "capital flag"
          "currency flag"
          "languages flag";
      }

      p {
        margin: 0;
      }

      #subject {
        grid-area: subject;
        padding: 0;
      }

      #country-name {
        @include flex-text;
        grid-area: country-name;
      }
      #capital {
        @include flex-text;
        grid-area: capital;
      }
      #flag {
        grid-area: flag;
        width: 100%;
        height: 50%;
        margin-top: auto;
        margin-bottom: auto;
        border: 2px solid $light-blue;
      }

      #curr {
        @include flex-text;
        grid-area: currency;
      }
      #lang {
        @include flex-text;
        grid-area: languages;
      }
    }
    p {
      // font-weight: bold;
      margin: 0;
      padding-top: 10px;
    }
    span {
      color: crimson;
      font-weight: bold;
    }
    table {
      background-color: transparent;
      border: none;
      td,
      th,
      tr {
        background-color: transparent;
        font-weight: lighter;
        text-align: center;
        border: none;
      }
    }

    #wether-dis {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      p {
        margin-top: 16px;
      }
      img {
        // margin: auto;
        width: 17%;
      }
    }
  }
}
